In [1]:
import numpy as np
import pandas as pd

In [4]:
data = pd.Series([x for x in range(1, 6)])

In [5]:
data

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
data.values

array([1, 2, 3, 4, 5], dtype=int64)

In [8]:
data.index

RangeIndex(start=0, stop=5, step=1)

In [9]:
data[0]

1

In [10]:
data[1:3]

1    2
2    3
dtype: int64

In [12]:
last_index = len(data) - 1
data[last_index]

5

In [16]:
data = pd.Series([x for x in range(1, 6)], index=["a", "b", "c", "d", "e"])
data

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [17]:
data["c"]

3

In [19]:
data = pd.Series({"a":1, "b":2, "c":3, "d":4, "e":5})
data

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [20]:
data["b":"d"]

b    2
c    3
d    4
dtype: int64

In [21]:
series_1 = pd.Series(dict(a=1, b=2, c=3, d=4, e=5)) 
series_2 = pd.Series(dict(a=11, b=12, c=13, d=14, e=15))
df = pd.DataFrame({"column_1":series_1, "column_2":series_2})
df

   column_1  column_2
a         1        11
b         2        12
c         3        13
d         4        14
e         5        15

In [22]:
df.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [23]:
df.columns

Index(['column_1', 'column_2'], dtype='object')

In [24]:
df["column_1"]

a    1
b    2
c    3
d    4
e    5
Name: column_1, dtype: int64

In [25]:
df["a"]

KeyError: 'a'

In [27]:
df["column_1"]["a"]

1

In [30]:
df["column_2"]["c"]

13

In [31]:
df2 = pd.DataFrame([[1,2],[11,12], [21, 22]], index=['a', 'b', 'c'], columns=['col_1', 'col_2'])
df2

   col_1  col_2
a      1      2
b     11     12
c     21     22

In [33]:
df3 = pd.DataFrame([[1,2,3],[11,12,13]], index=['a', 'b'], columns=['col_1', 'col_2', 'col_3'])
df3

   col_1  col_2  col_3
a      1      2      3
b     11     12     13

In [36]:
df3.at["b", "col_3"]

13

In [40]:
df3.iat[1, 2]

13

In [42]:
df

   column_1  column_2
a         1        11
b         2        12
c         3        13
d         4        14
e         5        15

In [45]:
import openpyxl
df.to_csv('df_data.csv') 
df2.to_excel('df2_data.xlsx')
df3 = pd.read_csv('df_data.csv')
df4 = pd.read_excel('df2_data.xlsx')

In [46]:
df3

  Unnamed: 0  column_1  column_2
0          a         1        11
1          b         2        12
2          c         3        13
3          d         4        14
4          e         5        15

In [47]:
df4

  Unnamed: 0  col_1  col_2
0          a      1      2
1          b     11     12
2          c     21     22